    {% extends 'UserProfiles/base.html' %}
    {% block title %}
    <title>{{student}}</title>
    {% endblock %}
{% block content %}
    <div class="container" style="width: 320px; margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="width=160px; height:160px; margin-left:182px;padding-left:0px;padding-right:0px;width:160px">
                <a class="thumbnail">
                    <img class="img-responsive" src="{{student.photo.url}}" alt="">
                </a>

    </div>
<p style="margin-left:350px;margin-top:0px;font-weight:bold;font-size:20;font-family:cursive">
{{user.username}}</p>
<p style="margin-left:350px;margin-top:0px;font-size:15px;font-family:cursive">
Skills: {{student.interests}}</p>
<p style="margin-left:350px;margin-top:39px;font-size:15px;font-family:cursive">
Experience:</p>
</div>
<div class="progress" style="margin-left: 436px; margin-right: 307px;margin-top:-60px">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{student.score}}" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
    {{student.score}}
  </div>
</div>
  <div class="container"style="float:right;position:relative;top:-9%;left:-2%;width:18%">
    
    <h3 style="text-align:center;color:rgb(31,137,153);font-family:Times New Roman">Updates</h3>
    
    <div box-sizing="border-box" style="font-family:Arial;font-size:13px;" border="1px thin rgb(31,137,153)">This is the place for updates on the club activities and much more </div>
    
    <hr size="2"  width="95%" style="clear: both;">
    
    <div box-sizing="border-box" style="font-family:Arial;font-size:13px;" border="1px thin rgb(31,137,153)">This is the place for updates on the club activities  and much more </div>
    
    <hr size="2" width="95%" style="clear: both;">
    
    <div box-sizing="border-box" style="font-family:Arial;font-size:13px;" border="1px thin rgb(31,137,153)">This is the place for updates on the club activities  and much more </div>
    <hr size="2"  width="95%" style="clear: both;">
    
  </div>
{% endblock %}