{% load staticfiles %}
{% load list_iter %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'UserProfiles/leaderboard.css' %}" />
 <html>
	<title> Leadorboard</title>
	
	<head>
		<link rel="stylesheet" href="E:\My Interests\CFI\Webopps\Insti WebOps\Insti Website\leadorboard.css" media="all" type="text/css">
	
	</head>
	
	<body class="bckstyle" onload="border()">
	{% if user.is_active %}
	<p>Logged in as <a href = "/UserProfiles/{{user.id}}/">{{user}}</a></p>
	{% else %}
	<a href = "/UserProfiles/login/">Login</a>
	{% endif %}
	{% if user.is_active %}
	<a href = "/UserProfiles/logout/">Logout</a>
	{% else %}
	<a href = "/UserProfiles/register/">Register here</a>
	{% endif %}
		<div class="head">
			<img src='{% static 'UserProfiles/logo.png' %}' class="headimg">
		</div>		
		<br>
		<center><br><br><br>
			
			<div class="leadrb" border="1">
				
				<div colspan="2" class="title">
					LEADERBOARD
				</div>
				
				{% for p in user_list %}
				<div class="block" border="1" title="{{p.username}}" onmouseover="highlit(this,{{forloop.counter0}})" onmouseout="back(this,{{forloop.counter0}})">
					
					<div class="rank">
						{{forloop.counter}}
					</div>
					
					<div class ="details">
						<img src="2.jpg" class="DP" href="">
					</div>
					
					<div class="name" id="name">
						<a href = "/UserProfiles/{{p.user.id}}/">{{p.user}}</a>
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				</div>
				{% endfor %}
				
				
				<!--<div class="block" onmouseover="highlit(this,1)" onmouseout="back(this,1)" title="Sri Ram Gupta">
					
					<div class="rank">
						2
					</div>
					
					<div class ="details">
						<img src="3.jpg" class="DP">
					</div>
					
					<div class="name">
						Sri Ram Gupta
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				
				</div>
				
				<div class="block" border="1" title="KRISHNA CHAITANYA" onmouseover="highlit(this,2)" onmouseout="back(this,2)">
					
					<div class="rank">
						3
					</div>
					
					<div class ="details">
						<img src="2.jpg" class="DP" href="">
					</div>
					
					<div class="name" id="name">
						KRISHNA CHAITANYA
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				</div>
				
				<div class="block" border="1" title="KRISHNA CHAITANYA" onmouseover="highlit(this,3)" onmouseout="back(this,3)">
					
					<div class="rank">
						4
					</div>
					
					<div class ="details">
						<img src="2.jpg" class="DP" href="">
					</div>
					
					<div class="name" id="name">
						KRISHNA CHAITANYA
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				</div>
				
				<div class="block" border="1" title="KRISHNA CHAITANYA" onmouseover="highlit(this,4)" onmouseout="back(this,4)">
					
					<div class="rank">
						5
					</div>
					
					<div class ="details">
						<img src="2.jpg" class="DP" href="">
					</div>
					
					<div class="name" id="name">
						KRISHNA CHAITANYA
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				</div>
				
				<div class="block" border="1" title="KRISHNA CHAITANYA" onmouseover="highlit(this,5)" onmouseout="back(this,5)">
					
					<div class="rank">
						6
					</div>
					
					<div class ="details">
						<img src="2.jpg" class="DP" href="">
					</div>
					
					<div class="name" id="name">
						KRISHNA CHAITANYA
					</div>
					
					<div class="XP">
					
					</div>
					
					<div class="badge">
					
					</div>
				</div>-->
				
		</center>
	<br>
		<script>
		var x=document.getElementsByClassName('name');
		
		var y=document.getElementsByClassName('details');
		
		var z=document.getElementsByClassName('rank');
		
		function highlit(ele,k){
		ele.style.backgroundColor="rgb(31,137,153)"
		x[k].style.color="White"
		z[k].style.backgroundColor="white"
		z[k].style.color="rgb(31,137,153)"
		}
		
		function back(ele,k){
		ele.style.backgroundColor="white"
		x[k].style.color="rgb(31,137,153)"
		z[k].style.backgroundColor="rgb(31,137,153)"
		z[k].style.color="white"
		}
		
		function border(){
		var x=document.getElementsByClassName('leadrb');
		x[0].style.border="thin solid rgb(31,137,153)"
		x[0].style.borderRadius="5px"
		}
		
		</script>
	
	</body>
 
 </html>