{% extends 'UserProfiles/base.html' %}  
{% load staticfiles %}

{% block title %}
<title>LeaderBoard</title>
{% endblock %}


      {% block content %}
      <div class="col-sm-4">
         <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Leaderboard</h3>
            </div>
            
             <table class="table table-condensed" >
            
            <tbody>
            {% for p in user_list %}

              <tr id="row"style="color:rgb(31,137,153);background-color:white;margin:5px" >
                <td width="75px"syle="padding-right:30px"><div class="numb" style="height:30px;width:30px;border-radius:50%;color:white;background-color:rgb(31,137,153);text-align:center;font-size:21px;" >{{forloop.counter}}</div></td>
                <td width="75px"><img src="{{p.photo.url}}" style="width:30px;height:30px"></td></a>
                <td style="padding-left:20px;width:500px" href="#"><a href="/UserProfiles/{{p.user.id}}/"style="text-decoration:none;font-family:BANKGOTHIC MD BT;font-size:24px;text-align:left;color:rgb(31,137,153)">{{p}}</a></td>
                <td><a href="kkc.html" style="text-decoration:none;color:rgb(31,137,153);font-family:BANKGOTHIC MD BT;font-size:24px">{{p.score}}XP</a>  </td>
                <td style="padding-left:15px;"><button type="button" class="btn btn-default btn-lg" id="{{forloop.counter}}" title="Details">
                <span class="glyphicon glyphicon-align-justify" style="color:rgb(31,137,153)"></span>
                </button></td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
       </div>
      }
   </div>
{% for p in user_list %}
<div id="content{{forloop.counter}}" style="display:none;color:rgb(31,137,153);padding:10px;padding-left:5px">
<img src="{{p.photo.url}}" style="height:30px;width:30px;positon:relative;top:5px;left:10px;">
<a href="#" style="text-decoration:none;color:rgb(31,137 153);font-size:15px;font-family:Times New Roman;position:relative;top:0px;left:20px;">{{p}}</a>
<br><br>
<span style="font-family:BANKGOTHIC MD BT;font-size:18px;">{{p.score}} Xp</span>
<br><br>
<span style="font-size:14px;position:relative;margin:5px;float:left"><u>Skills </u>: {{p.interests}}</span>
<br><br>
<div class="progress-bar" role="progressbar" aria-valuenow="{{p.score}}" aria-valuemin="0" aria-valuemax="100" style="width: 100%;border-radius:3px;">
    {{p.score}}
  </div>
  <br>
</div>
{% endfor %}
{% endblock %}








   

   

  