{% extends 'UserProfiles/base.html' %}
{% block title %}    
<title>Login</title>
{% endblock %}
{% block content %}   
<h3 style=" margin-left:292;color:rgb(31,137,153) ">Please Log in</h3>

<form class="form-horizontal" id = "login_form" method="post" action="/UserProfiles/login/">
{% csrf_token %}
<fieldset>

<!-- Form Name -->
   
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username" style="color:rgb(31,137,153)">Username</label>  
  <div class="col-md-4">
  <input id="username" type="text" placeholder="username" value = "" name = "username" class="form-control input-md" required style=" width: 250;color:rgb(31,137,153)">
  <span class="help-block"style="color:rgb(31,137,153)">Your login ID </span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password"style="color:rgb(31,137,153)">Password</label>
  <div class="col-md-4">
    <input id="password"  type="password" placeholder="password" value  "" name = "password" class="form-control input-md" required style=" width: 250;color:rgb(31,137,153)">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-default">Log in
      <style type="text/css">
      div>button.btn-default{
        background: -webkit-linear-gradient(right,rgb(31,137,153) 0,white 130);
        color:white;
        text-shadow:none;
      }

      </style>

    </button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}
        

    
  
  
  