<!DOCTYPE html>
<html>
	<head>
		<title>User Registration - IITM Webops</title>
	</head>
	<body>
		{% if registered %}
		Thank you for registering!
		<a href = "/UserProfiles">Back to homepage</a>
		{% endif %}
		<form action="/UserProfiles/register/" method="POST"> {% csrf_token %}
			<h2>Please enter your details . . .</h2>
    		{{ form.as_p }}
    		{{ form2.as_p}}
    		<h3>Interests</h3>
    		{% for i in interests %}
    		<input type = "checkbox" name = "interests[{{i.pk}}]" value = "{{i.pk}}" />{{i}}
    		<br>
    		{% endfor %}
    		<input type = "text" name = "new_interests" value = "Enter new interests here" />
			<input type="submit" value="Sign Up">
		</form>

</html>