{% extends 'UserProfiles/base.html' %}  

{% block title %}
<title>Join the Club</title>
{% endblock %}
{% block content %}
      <form action="/UserProfiles/register/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <h2>Please enter your details . . .</h2>
        {{ form.as_p }}
        {{ form2.as_p}}
        <h3>Interests</h3>
        {% for i in interests %}
        <input type = "checkbox" name = "interests" value = "{{i}}" />{{i}}
        <br>
        {% endfor %}
        <input type = "text" name = "new_interests"/>
      <input type="submit" value="Sign Up">
    </form>
{% endblock %}