<script type="text/javascript">

            $(document).ready(function(){
              $('#drop').popover({
                trigger:'click',
                html:true,
                placement:'bottom',
                content: function(){
                  return $('#oneeffect').html();
                },
              });
            });

            $(document).ready(function(){
                 $('#1').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                
                  content: function(){
                    return $('#content1').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#2').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content : function(){
                    return $('#content2').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#3').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content : function(){
                    return $('#content3').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#4').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content:function(){
                    return $('#content4').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#5').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content:function(){
                    return $('#content5').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#6').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content:function(){
                    return $('#content6').html();
                  },
              });
              });

              $(document).ready(function(){
                 $('#7').popover({
                  trigger: 'click',
                  html: true,
                  placement:'right',
                  content:function(){
                    return $('#content7').html();
                  },
              });
              });

</script>